{% extends 'base.html.twig' %}

{% block title %}Ordered{% endblock %}

{% block content %}
{% if notification %}
    <br><br>
    <div class="alert alert-secondary" role="alert">
        {{notification}} <br><br>
        <a href="{{path('products')}}" class="btn btn-success btn-block">The documents</a>
        <br><br>
    </div><br><br><br>
{% else %}
    <div class="row">
        <div class="col-md-2 text-center commande-img">
            <h4>{{product.name}}</h4>
            <img src="/upload/{{product.illustration}}" alt="{{product.illustration}}" class="img-fluid img-product">
        </div>
        <div class="col-md-10 my-auto">
            <!-- <h3>Commande</h3> -->
            <p class="code-price-content">Code : <span class="code-price">{{product.id}}</span></p>
            <p class="code-price-content">Price : <span class="code-price">{{product.price | number_format()}} $</span></p>
            <p class="alert alert-secondary">The document will be delivered to your school, after receiving your document you can pay.</p>
            {{form(form)}}
        </div>
    </div>
{% endif %}

    
{% endblock %}
