{% extends 'base.html.twig' %}

{% block title %}{{product.name}}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-2 text-center show-img">
            <img src="/upload/{{product.illustration}}" alt="{{product.illustration}}" class="img-fluid img-product">
        </div>
        <div class="col-md-10 my-auto show-content">
            <h4 class="text-center">{{product.name}}</h4>
            <p class="">{{product.subtitle}}</p>
            <p class="page-padding">Matière : <span class="m-c-p">{{product.matiere}}</span></p>
            <p class="page-padding">Document : <span class="m-c-p">{{product.category}}</span></p>
            <p class="page-padding">Classe : <span class="m-c-p">{{product.classe}}</span></p>
            <p class="product-page-price">Prix : <span class="m-c-p">{{product.price | number_format()}} GNF</span></p>
            <hr>
            <p>
                {{product.description}}
            </p>
            <a href="{{path('commande', {'slug' : product.slug})}}" class="btn btn-info btn-block" >Commander</a><br>
        </div>
    </div>

    <hr>
    <h4>Nos meilleurs documents</h4>
    <p>Découvrez les documents les plus demandés.</p>
    <div class="row justify-content-md-center">
        {% for product in products %}
            <div class="col-md-2 text-center">
                {% include "product/single_product.html.twig" %}
            </div>
        {% endfor %}
    </div><!-- /.row -->
    
{% endblock %}
